mat-card {
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

th{
    text-align: left;
}

.card{
    margin: auto;
    margin-top: 50px;
    width: 60vw;
}


.card-img {
    height: 200px;
    width: 200px;
    margin-left: 125px;
}

.grid-img {
    height: 100px;
    width: 75px;
}