mat-card {
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

.card-img {
    height: 200px;
    width: 200px;
    margin-left: 125px;
}

table {
    margin: auto;
    margin-top: 50px;
    width: 90vw;
}

.grid-img {
    height: 100px;
    width: 75px;
}