<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let game"><a [routerLink]="['/tracking']" [queryParams]="{epic: game.epic_id, steam: game.steam_id}" routerLinkActive="active" class="nav-link">{{game.title}}</a></mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="epic_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Epic ID </mat-header-cell>
        <mat-cell *matCellDef="let game"> {{game.epic_id}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="steam_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Steam ID </mat-header-cell>
        <mat-cell *matCellDef="let game"> {{game.steam_id}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
      </tr>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[15, 25, 50]" aria-label="Select page of users"></mat-paginator>
  </div>