<mat-toolbar color="primary">
    <a routerLink="/" routerLinkActive="active" class="nav-link"><span>Comparador de Precios</span></a>
    <span class="spacer"></span>

    <mat-form-field appearance="fill">
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
        </mat-select>
      </mat-form-field>-

    <img src="https://flagcdn.com//{{size}}/{{countryTry.code}}.png" alt="">
    <h2>algo</h2>
    <button mat-icon-button (click)="openBottomSheet()">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>