<mat-card>
    <mat-card-header>
        <mat-card-title>Product Name</mat-card-title>
        <mat-card-subtitle>Version</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/Logo_A.png">
    <mat-card-content>
        <h1>Description</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Obcaecati, quia voluptate officia quasi dignissimos laboriosam 
            delectus dolore nemo mollitia itaque, consequatur quidem sunt laudantium. 
            Ad voluptas quis repellendus dolorum non.</p>
    </mat-card-content>
</mat-card>