
<div class="otrodiv">
    <div class="nose">
        <div class="footer-container">
            <ul>
                <li><span class="footer-title">Sobre ("empresa")</span></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
            </ul>
            <ul>
                <li><span class="footer-title">Sobre ("empresa")</span></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
            </ul>
            <ul>
                <li><span class="footer-title">Sobre ("empresa")</span></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
                <li><a class="footer-sub" href="">Sobre nosotros</a></li>
            </ul>
            <span></span>
            <div class="social-div">
                <span class="footer-title">Redes</span>
                <ul>
                    <li><a href="https://twitter.com/Kreysh1"><img alt="Twitter" width="22px" src="https://cdn.icon-icons.com/icons2/1753/PNG/512/iconfinder-social-media-applications-6twitter-4102580_113802.png" ></a></li>
                    <li><a href="https://www.youtube.com/channel/UCwOjZiZidrJJ46kOaEt_yWg"><img alt="YouTube" width="22px" src="https://cdn.icon-icons.com/icons2/1211/PNG/512/1491579609-yumminkysocialmedia08_83079.png"></a></li>
                    <li><a href="https://www.twitch.tv/kreysh1"><img alt="Twitch" width="22px" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/twitch_tile_logo_icon_170382.png"></a></li>
                    <li><a href="https://www.instagram.com/juancgsoto"><img alt="Instagram" width="22px" src="https://cdn.icon-icons.com/icons2/1753/PNG/512/iconfinder-social-media-applications-3instagram-4102579_113804.png"></a></li>
                    <li><a href="https://www.linkedin.com/in/juan-carlos-gonzalez-soto-60b121227"><img alt="LinkedIn" width="22px" src="https://cdn.icon-icons.com/icons2/99/PNG/512/linkedin_socialnetwork_17441.png"></a></li>
                    <li><a href="https://discord.gg/taZGxV23FT"><img alt="Discord" width="22px" src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="usage">
            <p class="footer-sub"> <img src="https://mirrors.creativecommons.org/presskit/icons/cc.xlarge.png"><img src="https://mirrors.creativecommons.org/presskit/icons/by.xlarge.png">Copyright © 2022 Kreysh. Licencia de Creative Commons Reconocimiento 4.0 Internacional.</p>            
        </div>
    </div>
</div>