.spacer {
    flex: 1 1 auto;
}

.selectedItem{
    color: #fff;
    font-size: 24px;
}

button:hover{
    mat-icon{
        color: red;
        font-weight: bold;
    }
}

a {
    color: #fff;
    text-decoration: none;
    background: inherit;
}

a:hover{
    color: #fff;
    text-decoration: none;
    background: inherit;
    font-weight: bold;
    cursor: pointer;
}

.region-label:hover{
    color: orange;
    cursor: pointer;
}