.spacer {
    flex: 1 1 auto;
}

.selectedItem{
    color: #fff;
    font-size: 24px;
}

button:hover{
    mat-icon{
        font-weight: bold;
    }
    .hearth{
        color: red;
    }
}

.userIcon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}

.logged{
    color: greenyellow;
}

a {
    color: #fff;
    text-decoration: none;
    background: inherit;
}

a:hover{
    color: #fff;
    text-decoration: none;
    background: inherit;
    font-weight: bold;
    cursor: pointer;
}

.region-label{
    padding: 7px;
}

.region-label:hover{
    color: orange;
    cursor: pointer;
}

.column{
    color: #fff;
    height: 80px;
    font-size: 117px;
    cursor: default;
}