<mat-card>
    <mat-card-header>
        <mat-card-title>{{epicTitle}}</mat-card-title>
        <mat-card-subtitle>Version</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{epicImage}}" alt="{{epicTitle}}"  class="card-img">
    <mat-card-content>
        <h1>Descripción</h1>
        <p>{{steamDesc}}</p>
    </mat-card-content> 
</mat-card>

<clr-datagrid>
    <clr-dg-column [clrDgField]="'Portada'" [clrDgColType]="'number'">Portada</clr-dg-column>
    <clr-dg-column [clrDgField]="'Nombre'">Nombre</clr-dg-column>
    <clr-dg-column [clrDgField]="'Precio'">Precio</clr-dg-column>
    <clr-dg-column [clrDgField]="'Plataforma'">Plataforma</clr-dg-column>
    <clr-dg-column [clrDgField]="'Link'">Link</clr-dg-column>
    <clr-dg-row>
        <clr-dg-cell><img src="{{epicImage}}" alt="{{epicTitle}}" class="grid-img"></clr-dg-cell>
        <clr-dg-cell>{{epicTitle}}</clr-dg-cell>
        <clr-dg-cell>${{epicPrice}}</clr-dg-cell>
        <clr-dg-cell>Epic</clr-dg-cell>
        <clr-dg-cell><a href="https://www.epicgames.com/store/en-US/p/{{epicSlug}}">https://www.epicgames.com/store/en-US/p/{{epicSlug}}</a></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-row>
        <clr-dg-cell><img src="{{steamImage}}" alt="{{steamTitle}}" class="grid-img"></clr-dg-cell>
        <clr-dg-cell>{{steamTitle}}</clr-dg-cell>
        <clr-dg-cell>{{steamPrice}}</clr-dg-cell>
        <clr-dg-cell>Steam</clr-dg-cell>
        <clr-dg-cell><a href="https://store.steampowered.com/app/{{steamID}}">https://store.steampowered.com/app/{{steamID}}</a></clr-dg-cell>
    </clr-dg-row>
    
    <!----<clr-dg-footer>Cantidad de Ofertas:</clr-dg-footer>-->
</clr-datagrid>

<clr-charts type="line" [data]="data" options="options"></clr-charts>
