<clr-datagrid>
    <clr-dg-column [clrDgField]="'Portada'" [clrDgColType]="'number'">Portada</clr-dg-column>
    <clr-dg-column [clrDgField]="'Nombre'">Nombre</clr-dg-column>
    <clr-dg-column [clrDgField]="'Precio'">Precio</clr-dg-column>
    <clr-dg-column [clrDgField]="'Distribuidor'">Distribuidor</clr-dg-column>
    <clr-dg-column [clrDgField]="'Link'">Link</clr-dg-column>
    <clr-dg-row>
        <clr-dg-cell>IMG1</clr-dg-cell>
        <clr-dg-cell>TITLE2</clr-dg-cell>
        <clr-dg-cell>PRICE3</clr-dg-cell>
        <clr-dg-cell>EMPRESA54</clr-dg-cell>
        <clr-dg-cell>LINK5</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>Cantidad de Ofertas:</clr-dg-footer>
</clr-datagrid>