.login-form{
    margin-top: 30px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.login-full-width{
    width: 100%;
}

.close-button{
    left: 100%;
    margin-left: 0.5rem;
    position: absolute;
    top: 0;
}